*
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    position: absolute;
    top: 30%;
    left: 30%;
}
body{
    background-image: url(https://i.postimg.cc/xjsJcrzS/images-2.jpg);
}
